@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url("./static/background.png");
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(60%);
}

body img {
}

svg {
    height: 30px;
    width: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.overview svg {
    height: 70px;
    width: 70px;
}

.title {
    font-size: 2.25em;
}

.location {
    font-size: 1.5em;
}

.date {
    font-size: 0.8em;
}

.temperatureContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.temperature {
    font-weight: 800;
    font-size: 2.5em;
}

.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.searchButton {
    background-image: url("./static/searchIcon.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    cursor: pointer;
}

.searchbar {

}

/* Search Input */

input[type="search"] {
    /* Box-sizing to include padding and border */
    box-sizing: border-box;
    /* Remove default styling */
    border: none;
    /* Add a slight transparency */
    background: rgba(255, 255, 255, 0.5);
    /* Add some padding */
    padding: 10px;
    /* Add a border radius for a rounded look */
    border-radius: 20px;
    /* Add a font size */
    font-size: 16px;
    /* Add a transition for hover effect */
    transition: background 0.3s ease;
  }
  
  /* Input Focus */
  input[type="search"]:focus {
    /* Add a darker background on focus */
    background: rgba(255, 255, 255, 0.8);
    /* Add a box-shadow */
    box-shadow: 0 0 5px #fff;
  }
  

.indicators {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.weatherDetails {
    display: flex;
    gap: 15px;
    align-items: center;
}

.weatherInfoLabel {
    font-size: 1.25em;
    font-weight: 800;
}

.bottom {
    padding: 40px;
}

.singleData {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.weekDay {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weekDayTitle {
    font-size: 1.25em;
}

.temperatureHigh {
    font-size: 1.25em;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 20px;
}

/*button {
    border-radius: 5px;
    border: 0;
    background-color: 0 0 0 rgba(0,0,0,0.125);
    padding: 6px;
    cursor: pointer;
}*/

button {
    background-color: rgba(255, 255, 255, 0.1); /* This sets the background color to white with 10% opacity */
    border: none; 
    color: white; 
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}